@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'oswald', sans-serif;
}

body
{
    background-color: black;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header img
{
    margin-left: -100px;
    width: 40px;
}

body
{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav
{
    background-color: black;
    font-size: 28px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

nav li
{
    display: inline-block;
    margin: 0 8px;
}

nav a
{
    text-decoration: none;
    color: whitesmoke;
}

.logo
{
    font-size: 36px;
    font-weight: bolder;
    color: whitesmoke;
    text-decoration: none;
}

.logo span
{
    color: red;
}

nav ul a:hover
{
    color: red;
}

.menu-line
{
    height: 3px;
    width: 20px;
    background-color: white;
    margin-bottom: 3px;
}

.menu
{
    cursor: pointer;
    display: none;
}

.alldetails a
{
    text-decoration: none;
}

.alldetails i
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height:25px;
    width: 25px;
    background: linear-gradient(130.08deg, #383528, 0%, white 100%);
    border-radius: 50%;
    font-size: 15px;
    margin: 0 7px;
}

h3
{
    color: red;
    font-size: 25px;
    text-transform: uppercase;
}

p
{
    color: white;
}

a
{
    color: white;
}

.support
{
    margin-left: 60px;
    margin-top: 60px;
}

.owners
{
    margin-left: 480px;
    margin-top: -80px;
}

.advertise
{
    margin-left: 70rem;
    margin-top: -70px;
}

form
{
    width: 320px;
    height: 390px;
    display: flex;
    flex-direction: column;
    background-color: black;
    box-shadow: 0 .1px 30px 0 red;
    border-radius: 30px;
    border-left: 1px solid red;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    border-right: 1px solid red;
    margin-top: 130px;    
    margin-left: 600px;
}

h1
{
    margin-left: 110px;
    font-size: 27px;
    color: white;
    opacity: .8;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: red;
    text-transform: uppercase;

}

label
{
    font-size: 15px;
    color: red;
    margin-top: 1%;
    margin-left: 10%;
    opacity: .8;
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);
}

input
{
    width: 80%;
    margin: 3% auto;
    margin-bottom: 1%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    opacity: .8;
    font-size: 17px;
    font-weight: 400;
}

button
{
    width: 35%;
    margin: 3% auto;
    color: white;
    font-size: 15px;
    opacity: .7;
    background-color: rgba(255, 255, 255, 0.06);
    padding: 10px ;
    border: none;
    outline: none;
    border-radius: 20px;
    text-shadow: 2px 2px 4px #ffffff33;
    box-shadow: 3px 2px 8px red;
    border-left: 1px solid rgba(255, 255, 255, .3);
    margin-top: 25px;
}

footer
{
    background-color: black;
    width: 100%;
    height: 145px;
    letter-spacing: 1.4px;
   
}

h2
{
    font-size: 25px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.872);
    letter-spacing: 3px;
    margin-bottom: 5px;
    margin-top: 5%;
    opacity: .7;
}

@media all and (max-width: 640px)
{
    nav
    {
        flex-direction: column;
    }

    nav li
    {
        display: block;
        padding: 10px 0;
    }
    ul
    {
        text-align: center;
        padding: 0;
        display: none;
    }

    .logo
    {
        align-self: flex-start;
        margin: 10px 0px 0px 30px;
    }

    .menu
    {
        display: block;
        position: absolute;
        right: 20px;
        top: 25px;
    }

    .showmenu
    {
        display: block;
    }

    form
    {
        width: 260px;
        height: 300px;
        display: flex;
        flex-direction: column;
        background-color: black;
        box-shadow: 0 .1px 30px 0 red;
        border-radius: 30px;
        border-left: 1px solid red;
        border-top: 1px solid red;
        border-bottom: 1px solid red;
        border-right: 1px solid red;
        margin-top: 150px;    
        margin-left: 100px;
    }

    h1
    {
        margin-left: 90px;
        font-size: 20px;
        color: white;
        opacity: .8;
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-color: red;
        text-transform: uppercase;

    }

    label
    {
        font-size: 13px;
        color: red;
        margin-top: 2px;
        margin-left: 10%;
        opacity: .8;
        text-shadow: 2px 2px 4px rgba(0,0,0,.2);
    }

    input
    {
        width: 80%;
        margin-top: 5px;
        margin-bottom: 2%;
        border: none;
        outline: none;
        background: transparent;
        color: white;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        opacity: .8;
        font-size: 12px;
        font-weight: 400;
    }

    button
    {
        width: 30%;
        height: 30px;
        margin: 1% auto;
        color: white;
        font-size: 13px;
        opacity: .7;
        background-color: rgba(255, 255, 255, 0.06);
        padding: 2px ;
        border: none;
        outline: none;
        border-radius: 20px;
        text-shadow: 2px 2px 4px #ffffff33;
        box-shadow: 3px 2px 8px red;
        border-left: 1px solid rgba(255, 255, 255, .3);
        margin-top: 15px;
    }

    button:hover
    {
        cursor: pointer;
        box-shadow: 0 0 10px red;
    }

    .alldetails a
    {
        text-decoration: none;
    }

    .alldetails i
    {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height:25px;
        width: 25px;
        background: linear-gradient(130.08deg, #383528, 0%, white 100%);
        border-radius: 50%;
        font-size: 15px;
        margin: 0 7px;
    }

    h3
    {
        color: red;
        font-size: 25px;
        text-transform: uppercase;
    }

    p
    {
        color: white;
    }

    a
    {
        color: white;
    }

    .support
    {
        margin-left: 100px;
        margin-top: 40px;
        font-size: 18px;
    }

    .support a
    {
        margin-left: -20px;
    }

    .support h3, .owners h3, .advertise h3
    {
        font-size: 18px;
    }

    .owners
    {
        margin-left: 50px;
        margin-top: 5px;
        font-size: 18px;
    }

    .owners h3
    {
        margin-top: 25px;
    }

    .owners a
    {
        margin-left: 30px;
        margin-bottom: 49px;
    }

    .advertise
    {
        margin-left: 110px;
        margin-top: 30px;
        font-size: 18px;
    }

    .advertise a
    {
        margin-bottom: 90px;
        margin-left: -30px;
    }

}